asyncpg==0.27.0
databases[postgresql]==0.6.2
uvicorn==0.20.0
fastapi==0.87.0
fastapi-login==1.8.3
sqlalchemy==1.4.41
psycopg2-binary==2.9.5
pydantic[email]
pyjwt==2.6.0
passlib[bcrypt]==1.7.4
types-passlib
python-dotenv==0.21.0
python-multipart==0.0.5
loguru==0.6.0
pandas==1.5.2
pandas-stubs==1.5.2.230105
pyyaml==6.0
types-PyYAML==6.0.12

flake8==6.0.0
# check typing 
mypy==0.991
# formatter
black==22.10.0
# migration
alembic==1.8.1
# dev 
pytest==7.2.0
pytest-freezegun==0.4.2
# trio==0.19.0
requests==2.25.1
httpx==0.23.1
