/* dd container */
.dropdown {
    display: inline-block;
    position: relative;
    outline: none;
    /* margin: 10px; */
}

/* button */
.dropdown-button {
    /* padding: 12px 16px; */
    color: white;
    /* background-color: #861cb9; */
    cursor: pointer;
    transition: 0.35s ease-out;
}

/* dd content */
.dropdown-menu,.dropdown-submenu {
    background-color: #f7f7f7;
    max-width: 50vw;
    min-width: max-content;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 100000;
    visibility: hidden;
    opacity: 0;
    transition: 0.35s ease-out;
    padding: 0;
    margin: 0;
    list-style: none;
    font-weight: 400;
}

.dropdown-menu {
    position: fixed;
    top: 3rem;
}

.dropdown-link {
    color: black;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    transition: 0.35s ease-out;
}

.dropdown-link:hover {
    background-color: #eaeaea;
}

/* show dd content */
.dropdown:focus .dropdown-menu {
    outline: none;
    transform: translateY(20px);
    visibility: visible;
    opacity: 1;
}

/* .dropdown-button:hover, .dropdown:focus .dropdown-button {
    background-color: #691692;
  }
   */
/* mask to close menu by clicking on the button */
.dropdown .dropdown-content {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 10;
    display: none;
}

.dropdown:focus .dropdown-content {
    display: inline-block;
}

.dropdown .dropdown-content:focus .dropdown-menu {
    outline: none;
    visibility: hidden;
    opacity: 0;
}

.dropdown-submenu {
    position: absolute;
    left: 100%;
    top: 0;
}

.dropdown-item {
    position: relative;
}

.dropdown-item:hover > .dropdown-submenu {
    outline: none;
    transform: translate(-4px,-4px);
    visibility: visible;
    opacity: 1;
}