.form {
    background: #fff;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form__fields {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    gap: 0.5rem;
}

.form__buttons {
    display: flex;
    gap:0.5rem;
    justify-content: flex-end;
}