.login {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem 0.25rem 0.25rem;
    margin-left: 1rem;
    /* gap: 1rem; */
}

.login-header {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 0 0 0.5rem;    
}

.login-forgot {
    flex-shrink: 0;
}

.login-data {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.login-button {
    align-self: flex-end;
    padding: 0.25rem 1rem;
    border-radius: 2px;
    border: 1px solid #ccc;
}

.login-title {
    text-transform: uppercase;
}

