* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.icon {
    width: 16px;
    height: 16px;
}
.icon--hamburger {
   background-image: url("data:image/svg+xml,%3Csvg fill='%23000000' version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 24.75 24.75' xml:space='preserve'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cg%3E%3Cpath d='M0,3.875c0-1.104,0.896-2,2-2h20.75c1.104,0,2,0.896,2,2s-0.896,2-2,2H2C0.896,5.875,0,4.979,0,3.875z M22.75,10.375H2 c-1.104,0-2,0.896-2,2c0,1.104,0.896,2,2,2h20.75c1.104,0,2-0.896,2-2C24.75,11.271,23.855,10.375,22.75,10.375z M22.75,18.875H2 c-1.104,0-2,0.896-2,2s0.896,2,2,2h20.75c1.104,0,2-0.896,2-2S23.855,18.875,22.75,18.875z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.icon--close {
    background-image: url("data:image/svg+xml,%3Csvg fill='%23000000' height='16px' width='16px' version='1.1' id='XMLID_314_' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 24 24' xml:space='preserve'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cg id='close'%3E%3Cg%3E%3Cpolygon points='20.3,21.7 12,13.4 3.7,21.7 2.3,20.3 10.6,12 2.3,3.7 3.7,2.3 12,10.6 20.3,2.3 21.7,3.7 13.4,12 21.7,20.3 '%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.page {
    padding: 1rem;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
}
.header {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}
.header__title {
    flex-grow: 1;
}
.workspace {
    flex-grow: 1;
}
.caption {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 0.5rem;
    max-height: 1000px;
    transition: max-height 0.25s cubic-bezier(.17,.84,.44,1);;
    overflow: hidden;
}
.caption__title {
    flex-grow: 1;
}
.caption--hide {
    max-height: 0px;
}
.main {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    margin-top: 0.5rem;
}
.sidebar {
    display: flex;
    flex-direction: column;
    width: 320px;
    transition: width 0.5s ease-in-out;
    overflow: hidden;
    margin-right: 0.5rem;
}
.sidebar__header {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.sidebar__title {
    flex-grow: 1;
    margin-right: 0.5rem;
}
.sidebar__content {
    flex-grow: 1;
}
.sidebar--hide {
    width: 0px;
    margin-right: 0;
}
.workspace {
    flex-grow:1;
}
.footer {
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    position: relative;
    max-height: 1000px;
    transition: max-height 0.25s cubic-bezier(.17,.84,.44,1);;
    overflow: hidden;
}
.footer__title {
    flex-grow: 1;
}
.footer--hide {
    max-height: 0px;
}